@import './base.css';

.filter {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.filter__controls {
  display: flex;
  gap: 20px;
}

.filter__input {
  padding: 8px;
  width: 500px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.filter__select {
  padding: 8px;
  width: 150px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.filter__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter__item {
  padding: 8px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.filter__message {
  color: #888;
  text-align: center;
  font-style: italic;
}

.filter__list-enter-active,
.filter__list-leave-active {
  transition: all 0.5s;
}

.filter__list-enter,
.filter__list-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
